/* CSS untuk banner autoslide */
.banner-container {
  position: relative;
  width: 100%;
  max-width: 800px; 
  margin: auto;
}

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px; 
}

.banner-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 7s ease-in-out;
}

.banner-image.active {
  opacity: 1;
}

.nav-buttons {
  text-align: center;
  margin-top: 10px;
}

.nav-buttons button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-buttons button:hover {
  background-color: #575757;
}


/* CSS untuk navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(23, 150, 230, 0.792); 
  color: white;
}
.navbar .logo img {
  height: 40px; 
}
.navbar #menu-icon {
  display: none;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}
.navbar ul li {
  display: inline;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}
.navbar ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .navbar #menu-icon {
    display: block;
  }
}

/* CSS untuk profile */
.profile, .experience, .contact {
  padding: 50px 20px;
  text-align: center;
}

.profile-container, .experience-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  background-color: #4b82cf;
  color: bisque;
}

.profile-item, .experience-item {
  flex: 1;
  margin: 10px;
  max-width: 300px;
  text-align: center;
}

.profile-pic, .experience-pic {
  width: 100px;
  height: 100px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* form */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .form-container, .output-container {
    border: 1px solid #ccc;
    padding: 20px;
    flex: 1;
  }
  
  .output-box {
    border: 1px solid #ccc;
    padding: 10px;
  }


footer {
  background-color: #4b82cf;
  color: rgb(244, 246, 247);
  text-align: center;
  padding: 10px;
  font-size: 16px;
}